p {
    font-size: 18px;
    line-height: 32px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}
#home {
    padding: 200px 0px;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}